@import '../../colors.scss';

.Form {
    &-input {
        width: 97%;
        height: 32px;
        padding-left: 8px;
        border-radius: 4px;
        font-size: 14px;
        border: 1px solid $black;

        &--error {
            margin-top: 4px;
            color: $red;
        }
    }

    &-select {
        margin-top: 10px;
        border-radius: 4px;
        border: 1px solid $black;
    }

    &-footer {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }
}
