@import '../../colors.scss';

.Dialog {
    width: 320px;
    padding: 12px;
    position: fixed;
    // bottom: 32px;
    // right: 48px;
    top: 20%;
    left: 40%;
    z-index: 2;
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0px 0px 2px $black, 0 1px 2px $grey;
}

@media only screen and (max-width: 600px) {
    .Dialog {
        width: 80%;
        top: 15%;
        left: auto;
        right: 7%;
        bottom: auto;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .Dialog {
        width: 50%;
        bottom: auto;
        left: 25%;
        top: 20%;
    }
}
